@model IEnumerable<Categories>
@{
    ViewData["Title"] = "Home Page";
}


    <div class="container">
        <div class="row mt-5">
        @foreach (var items in Model)
        {

            <div class="col">
                <a asp-action=@items.Url>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col text-center d-flex justify-content-center align-items-center">
                                    <h3 class="text-success">@items.Name </h3>
                                </div>
                                <div class="col text-start">
                                    @Html.Raw(items.Icon)

                                </div>

                            </div>
                        </div>
                    </div>
                </a>
             
            </div>


        }
        </div>
    </div>
   
  